@inject HttpClient Http
@using BlazorApp.Shared

@if (loading)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="">Click headings to expand schedule</div>
    <div class="accordion" id="matchListParent">
        @foreach (var week in matches)
        {
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@week.Key" aria-expanded="false" aria-controls="collapse-@week.Key">
                Week @week.Key - @week.Value[0].TeeTime.ToShortDateString()
            </button>
            </h2>
            <div id="collapse-@week.Key" class="accordion-collapse collapse">
            <div class="accordion-body">
                @if (week.Value[0].TeeTime < DateTime.Now)
                {
                    <a class="button" href='@($"scorecards/{week.Key}")'><span class="oi oi-spreadsheet"></span> View Scorecards</a>
                }
                @foreach (var match in week.Value)
                {
                    <li class="list-group-item">
                        @match.TeeTime.ToShortTimeString() - @match.Team1 vs @match.Team2
                    </li>
                }
            </div>
            </div>
        </div>
        }        
    </div>    
}


@code {
    private bool loading = true;
    private Dictionary<int, List<Match>> matches = new Dictionary<int, List<Match>>();

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<List<Match>>("/api/matches");
        matches = response.GroupBy(m => m.WeekID).ToDictionary(m => m.Key, m => m.ToList());
        loading = false;
    }
}
