@inject HttpClient Http
@using BlazorApp.Shared

@if (loading)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var week in matches)
    {
        <div class="card">
            <div class="card-header"><a class="button" href='@($"scorecards/{week.Key}")'>@week.Value[0].TeeTime.ToShortDateString() - Week @week.Key <span class="oi oi-spreadsheet"></span></a></div>
            <ul class="list-group list-group-flush">
                @foreach (var match in week.Value)
                {
                    <li class="list-group-item">
                        @match.TeeTime.ToShortTimeString() - @match.Team1 vs @match.Team2
                    </li>
                }
            </ul>
        </div>
    }
}


@code {
    private bool loading = true;
    private Dictionary<int, List<Match>> matches = new Dictionary<int, List<Match>>();

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<List<Match>>("/api/matches");
        matches = response.GroupBy(m => m.WeekID).ToDictionary(m => m.Key, m => m.ToList());
        loading = false;
    }
}
